In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/CHESS/input/train.csv')
test = pd.read_csv('/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/CHESS/input/test.csv')

In [4]:
train.head()

   0  1  2  3  4  5   6
0  3  1  8  2  6  4  14
1  2  2  7  7  6  2  14
2  3  1  3  3  7  7  14
3  4  1  8  2  1  1   4
4  3  1  1  5  5  3  13

In [6]:
train.columns

Index(['0', '1', '2', '3', '4', '5', '6'], dtype='object')

In [3]:
target = train.pop('6')

In [7]:
from sklearn.preprocessing import PolynomialFeatures

feature = PolynomialFeatures(degree = 2,
                            interaction_only=False,
                            include_bias=False)

new_train = feature.fit_transform(train)

In [35]:
new_test = feature.transform(test)

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

target = scaler.fit_transform(np.array(target).reshape(-1,1)).flatten()

In [10]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(train, target, test_size = 0.2, random_state = 123, stratify = target)

In [51]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from lightgbm import LGBMRegressor


model = LGBMRegressor(n_estimators=1200, num_leaves=45)

scores = cross_val_score(model, new_train, target, cv = 5, scoring = 'neg_mean_absolute_error')

In [52]:
scores

array([-0.03548429, -0.03638696, -0.03467497, -0.03426936, -0.0347207 ])

In [36]:
model.fit(new_train, target)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=1200, n_jobs=-1, num_leaves=45, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [37]:
preds = model.predict(new_test)

In [40]:
preds = scaler.inverse_transform(np.array(preds).reshape(-1,1)).flatten()

In [45]:
preds = np.round(preds).astype(np.int32)

In [35]:
from sklearn.metrics import f1_score

f1_score(val_y, preds, average='weighted')

0.7933410262899315

In [36]:
probs = model.predict_proba(val_x)

In [38]:
prob_df = pd.DataFrame(probs)

In [40]:
prob_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000,4489.000000
mean,0.090666,0.001114,0.003564,0.009133,0.002228,0.007129,0.019381,0.022277,0.026509,0.049009,0.063489,0.069503,0.101804,0.126532,0.156382,0.163956,0.074404,0.012920
std,0.287166,0.033359,0.059602,0.095142,0.047151,0.084139,0.137874,0.147598,0.160662,0.215910,0.243867,0.254336,0.302425,0.332484,0.363258,0.370277,0.262457,0.112944
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
sub = pd.read_csv('/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/CHESS/input/sample_submission.csv')

In [49]:
sub['depth'] = preds

In [50]:
sub.to_csv('sub_1.csv', index = False)